#part1 {
  background-image: url(../image/paint3.jpg);
  background-color: azure; 
  background-size: cover;
  background-attachment: fixed;

}

.submit {
  background-color: unset;
  border-radius: 9px;
  font-size: 23px;
  padding: 18px;
  width: 12%;
  margin-left: 5%;
  margin-bottom: 2%;
}

nav {
  width: 100%;
  height: 58px;
}

nav a {
  display: block;
  float: left;
  font-family: 'Lacquer', sans-serif;
  font-size: 20px;
  color: rgb(41, 23, 23);
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#logo {
  font-size: 40px;
  text-shadow: 1px 1px 2px #c4c4c4;
  padding-left: 40px;
  padding-right: 200px;
  margin-right: 10px;
}

img {
  max-width: 100%;
  height: 500px;
}

.part2 img{
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  
}
.part2 img:hover{
    -webkit-filter: grayscale(0);
	  filter: gra  yscale(0);
}

.sidenav {
}

#mySidenav a {
  margin-top: 190px; 
  position: absolute;
  left: -90px;
  transition: 0.3s;
  padding: 13px;
  width: 130px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}
#home {
  top: 20px;
  background-color: #E1AD01;
}

#artworks {
  top: 100px;
  background-color: #4CAF50;
}

#gallery {
  top:180px;
  background-color: #2196F3;
}

#ourteam {
  top: 260px;
  background-color: #f44336;
}

#contact {
  top: 340px;
  background-color: #555
}

body {font-family: Arial, Helvetica, sans-serif;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.bton {
  background-color: #4CAF50;
  color: rgb(7, 7, 7);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

.modal-content {
  background-color: rgb(250, 248, 245);
  opacity: 0.95;
  font-size: 20px;
  margin: 5% auto 15% auto;
  border: 1px solid rgb(216, 209, 209);
  width: 80%; 
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(177, 124, 124);
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.avatar {
  width: 50px;
}

* {
  margin: 0;
}

input:focus, button:focus {
  outline: none;
}

::placeholder {
  color: #FFF;
  opacity: 1;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(90deg, rgb(160, 8, 54), rgb(243, 121, 6), rgb(236, 92, 92), rgb(212, 193, 15));
  background-size: 600% 100%;
  animation: bggradient 10s linear infinite;
  animation-direction: alternate;
  font-family: 'Roboto', sans-serif;
}

.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: unset;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 60px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
