h1{
  text-align: center;
  font-size:20px;
  font-weight:bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#mail,#code,#first,#last{
  margin-left:2%;
}
#me{
  margin-left:24%;
}
#sign{
  width:220px;
  margin-left:42%;
}
.person{
  width:20%;
}
#register{
  margin-left:24%;
}
#tea{
  text-align: center;
  padding-top:15%;
  font-family: 'EB Garamond', serif;
  color: whitesmoke;
  background-image: url("images/diverse-people-join-hands-team-260nw-1401387992.webp");
  background-size:cover;
  background-repeat:no-repeat;
  height:500px;
  
}